.container {
  padding: 10% 0;
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #f9f7d9;
}

h1 {
  margin: 30px;
  font-size: 5rem;
  color: #14b1ab;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
}

img {
  width: 50%;
}

/* footer {
  margin-top: 5%;
  color: black;
  text-align: center;
  font-family: 'Indie Flower', cursive;

} */

.img1{
  padding: 20% 0 0 0;
}
